.glass-card {
  flex: 1;
  /* width: 450px; */
  height: 300px;
  background: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  /*color: rgb(247, 247, 247);  Change text color to black */
  /* text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7); */
  text-align: center;
  padding: 10px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 20px;
  /* background-color: #f2f2f2; */
}
.glass-card:hover {
  transform: scale(1.03) !important;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}
.border-right {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}
.highlight-title-box {
  margin: 40px 0 20px 0;
  text-align: center;
}

.main-highlight-title {
  font-size: 48px;
  font-weight: 600;
  position: relative; /* Ensures the pseudo-element is positioned correctly */
  display: inline-block; /* Keeps the underline limited to text width */
}

.highlight-title {
  margin-bottom: 16px;
}
.highlight-title {
  color: var(--text-color-black-gray);
}

.highlight-sub-text {
  color: var(--text-color-light-gray);
  letter-spacing: 1px;
  font-weight: 400;
}
.highlight-icon {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
